:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --dark-blue: #031d44;
  --mid-blue: #04395e;
  --green: #70a288;
  --yellow-tan: #dab785;
  --peach: #d5896f;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-1);
  height: 100vh;
}

h1 {
  color: var(--dark-blue);
}

code {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  align-items: center;
  font-size: 2vmin;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-blue);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 3vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  width: 50vh;
  font-size: 2vmin;
  border: .1vmin solid var( --yellow-tan);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  outline: none;
} 

input:focus {
  border-color: var(--peach);
} 

button.btn-sm {
  font-size: 2vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 2vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  border-radius: 3px;
  background-color: var( --tan-1);
}

button[type="submit"] {
  border-radius: 3px;
  background-color: var( --green);
  grid-column: span 2;
  margin: 1vmin 0 0;
}